extends includes/layout.pug

block content
  include ./includes/mixins/indexPostUI.pug
  .makyo-home-content.nc
    .makyo-music
      .makyo-music__icon
        i.fas.fa-music
      .makyo-music__meta
        span NOW PLAYING
        strong 等待选择曲目
      .makyo-music__picker
        select.makyo-music__select(aria-label='选择音乐' disabled)
          option 正在读取音乐列表…
        .makyo-music__nav
          button(type='button' aria-label='上一首' disabled)
            i.fas.fa-backward-step
          button(type='button' aria-label='下一首' disabled)
            i.fas.fa-forward-step
      audio.makyo-music__player(controls preload='metadata') 你的浏览器不支持音频播放。

    .makyo-portal
      .makyo-portal__head
        div
          span.makyo-portal__eyebrow GAME & NOTES
          h2 魔界游戏厅
        p 以上部分主打 HTML 在线游戏、MD 模拟器入口和 APK 下载，文章笔记继续放在下方。
      .makyo-portal__grid
        article.makyo-portal__game
          img(src=url_for('/img/md11.jpg') alt='幽游白书魔强统一战')
          .makyo-portal__game-copy
            span MD ONLINE
            h3 MD 模拟器 · 网页试玩
            p 支持本地选择合法 ROM 文件，并提供手机虚拟按键；公开上线时请只使用有授权的游戏资源。
            a.button--animated(href=url_for('/games/md/'))
              i.fas.fa-gamepad
              |  进入模拟器
        article.makyo-portal__game
          img(src=url_for('/img/11ren.jpg') alt='HTML 在线小游戏')
          .makyo-portal__game-copy
            span HTML GAME
            h3 Online 在线游戏专区
            p 后期可把自己制作或授权的 HTML 游戏放到 <code>source/games/</code>，直接通过网页游玩。
            a.button--animated(href=url_for('/games/'))
              i.fas.fa-play
              |  查看游戏
        article.makyo-portal__download
          i.fab.fa-android
          span APK 下载
          h3 Android 移动版
          p 后期上传 APK 到 <code>source/downloads/</code> 后，访客可以从这里直接下载。
          a.button--animated(href=url_for('/downloads/makyo-toitsusen.apk') download)
            i.fas.fa-download
            |  下载 APK

    section.makyo-rank(data-rank-url=url_for('/games/leaderboard.json'))
      .makyo-rank__head
        div
          span.makyo-portal__eyebrow ONLINE SCORE
          h2 小游戏在线积分排名
        p 先展示站点排行榜；后期接入后端后，可让玩家自动提交分数。
      .makyo-rank__table
        .makyo-rank__row.makyo-rank__row--head
          span 排名
          span 玩家
          span 游戏
          span 分数
          span 时间
        .makyo-rank__body
          .makyo-rank__empty 正在读取排行榜…
      p.makyo-rank__caption 数据文件：<code>source/games/leaderboard.json</code>

    section.makyo-gallery(data-manifest-url=url_for('/gallery/manifest.json'))
      .makyo-gallery__head
        div
          span.makyo-portal__eyebrow SCREENSHOT GALLERY
          h2 图片预览
        p 上传图片到 <code>source/gallery/</code> 后会自动出现在这里。
      .makyo-gallery__stage
        button.makyo-gallery__arrow.makyo-gallery__prev(type='button' aria-label='上一张图片' disabled)
          i.fas.fa-angle-left
        a.makyo-gallery__image(target='_blank' rel='noopener' aria-label='查看大图')
          img(alt='图片预览' hidden)
          span.makyo-gallery__empty 暂无图片，等待上传。
        button.makyo-gallery__arrow.makyo-gallery__next(type='button' aria-label='下一张图片' disabled)
          i.fas.fa-angle-right
      p.makyo-gallery__caption 图片上传后可通过左右箭头浏览，点击图片查看原图。

    section.makyo-links
      .makyo-links__head
        div
          span.makyo-portal__eyebrow FRIEND LINKS
          h2 友情链接
        p 幽游白书粉丝与游戏资源站点互链入口。
      .makyo-links__grid
        a.makyo-links__item(href='https://glimsun.top' target='_blank' rel='noopener')
          i.fas.fa-link
          span glimsun.top
          small 访问友情链接

    +indexPostUI

  script(src=url_for('/js/makyo-media.js'))
