extends includes/layout.pug

block content
  include ./includes/mixins/indexPostUI.pug
  .makyo-home-content.nc
    .makyo-music
      .makyo-music__icon
        i.fas.fa-music
      .makyo-music__meta
        span NOW PLAYING
        strong 等待选择曲目
      .makyo-music__picker
        select.makyo-music__select(aria-label='选择音乐' disabled)
          option 正在读取音乐列表…
        .makyo-music__nav
          button(type='button' aria-label='上一首' disabled)
            i.fas.fa-backward-step
          button(type='button' aria-label='下一首' disabled)
            i.fas.fa-forward-step
      audio.makyo-music__player(controls preload='metadata') 你的浏览器不支持音频播放。
    .makyo-portal
      .makyo-portal__head
        div
          span.makyo-portal__eyebrow GAME & NOTES
          h2 魔界游戏厅
        p HTML 小游戏、对战笔记与移动版下载都从这里出发。
      .makyo-portal__grid
        article.makyo-portal__game
          img(src=url_for('/img/md11.jpg') alt='幽游白书魔强统一战')
          .makyo-portal__game-copy
            span HTML 小游戏
            h3 幽游白书 · 魔强统一战
            p 浏览器直接游玩，无需安装。
            a.button--animated(href=url_for('/games/makyo-toitsusen/index.html'))
              i.fas.fa-play
              |  开始游戏
        article.makyo-portal__download
          i.fab.fa-android
          span APK 下载
          h3 Android 移动版
          p 后期上传 APK 后，访客可从这里直接下载。
          a.button--animated(href=url_for('/downloads/makyo-toitsusen.apk') download)
            i.fas.fa-download
            |  下载 APK
    section.makyo-gallery(data-manifest-url=url_for('/gallery/manifest.json'))
      .makyo-gallery__head
        div
          span.makyo-portal__eyebrow SCREENSHOT GALLERY
          h2 图片预览
        p 上传图片到 <code>source/gallery/</code> 后会自动出现在这里。
      .makyo-gallery__stage
        button.makyo-gallery__arrow.makyo-gallery__prev(type='button' aria-label='上一张图片' disabled)
          i.fas.fa-angle-left
        a.makyo-gallery__image(target='_blank' rel='noopener' aria-label='查看大图')
          img(alt='图片预览' hidden)
          span.makyo-gallery__empty 暂无图片，等待上传。
        button.makyo-gallery__arrow.makyo-gallery__next(type='button' aria-label='下一张图片' disabled)
          i.fas.fa-angle-right
      p.makyo-gallery__caption 图片上传后可通过左右箭头浏览，点击图片查看原图。
    +indexPostUI
  script(src=url_for('/js/makyo-media.js'))
